/* .App {
	height: 100%;
	width: 100%;
} */
/* NAVBAR COMPONENT //////////////////////////////////////////////// */
.navbar {
	box-shadow: 0px 0px 1px 1px rgb(231, 231, 231);
}
.search-box {
	position: relative;
}
.search-box > input {
	border: none;
}
.search-box > input:enabled {
	outline: 0px;
}
.search-button {
	position: absolute;
	left: 0px;
	top: 10%;
}
.more-button {
	margin-left: 6%;
	margin-right: 3%;
}
.user-image-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.user-image-container > img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.bell-icon {
	font-size: 22px;
	position: relative;
}
.settings-icon {
	font-size: 22px;
	position: relative;
}
.dot1 {
	position: absolute;
	background-color: rgb(255, 0, 106);
	border-radius: 50%;
	width: 8px;
	border: 1px solid white;
	height: 8px;
	top: 0%;
	right: 0%;
}
.dot2 {
	position: absolute;
	background-color: rgb(0, 155, 0);
	border-radius: 50%;
	width: 8px;
	border: 1px solid white;
	height: 8px;
	top: 0%;
	right: 0%;
}
/* LEFT MENU COMPONENT ////////////////////////////////////////////////////////////// */
.left-menu-item {
	height: 60px;
	margin-top: 3px;
	margin-bottom: 3px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 15%;
	box-sizing: border-box;
	cursor: pointer;
	transition: border-left ease-in-out 0.1s;
}
.left-menu-item > p {
	margin: 0px;
}
.left-menu-item:hover {
	border-left: 5px solid #ff717a;
	background-color: #f4f5f8;
	color: rgb(255, 0, 128);
}

/* CENTER MAIN COMPONENT /////////////////////////////////////////////////////////// */

.banner-main {
	width: 100%;
	height: 300px;
	position: relative;
}
@media screen and (max-width: 1200px) {
	.banner-main {
		height: 250px;
	}
}
@media screen and (max-width: 984px) {
	.banner-main {
		height: 200px;
	}
}
@media screen and (max-width: 854px) {
	.banner-main {
		height: 180px;
	}
}
@media screen and (max-width: 768px) {
	.banner-main {
		height: 250px;
	}
}
@media screen and (max-width: 688px) {
	.banner-main {
		height: 230px;
	}
}
@media screen and (max-width: 600px) {
	.banner-main {
		height: 200px;
	}
}
@media screen and (max-width: 450px) {
	.banner-main {
		height: 170px;
	}
}
.pink-color-svg {
	width: 100%;
	height: 100%;
}
.pink-color-svg > img {
	width: 100%;
	height: 100%;
}
.space-man {
	position: absolute;
	top: 0%;
	right: -2%;
	width: 60%;
}
.space-man > img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	.space-man {
		width: 50%;
		top: 0%;
		right: 0%;
	}
}
.banner-heading {
	position: absolute;
	top: 30%;
	left: 5%;
	color: #fb4c6b;
	font-family: "Cabin", sans-serif;
	font-size: 35px;
}
@media screen and (min-width: 1000px) {
	.banner-heading {
        top:40%;
		font-size: 40px;
	}
}
@media screen and (max-width: 1050px) {
	.banner-heading {
		top: 40%;
	}
}
@media screen and (min-width: 1200px) {
	.banner-heading {
		font-size: 45px;
	}
}
@media screen and (min-width: 1400px) {
	.banner-heading {
		font-size: 55px;
	}
}
@media screen and (max-width: 767px) {
	.banner-heading {
		font-size: 55px;
		top: 30%;
	}
}
@media screen and (max-width: 728px) {
	.banner-heading {
		font-size: 50px;
	}
}
@media screen and (max-width: 654px) {
	.banner-heading {
		font-size: 45px;
	}
}
@media screen and (max-width: 598px) {
	.banner-heading {
		font-size: 40px;
	}
}
@media screen and (max-width: 523px) {
	.banner-heading {
		font-size: 35px;
	}
}
@media screen and (max-width: 451px) {
	.banner-heading {
		font-size: 30px;
		top: 25%;
	}
}
@media screen and (max-width: 400px) {
	.banner-heading {
		font-size: 25px;
	}
}
@media screen and (max-width: 329px) {
	.banner-heading {
		font-size: 20px;
	}
}

.banner-menu {
	width: 100%;
	height: 50px;
	background-color: white;
	position: absolute;
	bottom: 4%;
	box-shadow: 0px 0px 4px 1px #a7a7a7;
}
.banner-menu-item {
	height: 100%;
	box-sizing: border-box;
	margin: 0px 2% 0px 2%;
	font-weight: 500;
	cursor: pointer;
}
.banner-menu-item > p {
	transition: color ease-in-out 0.1s;
}
@media screen and (max-width: 400px) {
	.banner-menu-item {
		margin: 0px 1% 0px 1%;
	}
	.banner-menu-item > p {
		font-size: 12px;
	}
	.banner-menu {
		padding-left: 10px !important;
	}
}
.banner-menu-item:hover > p {
	color: #fb879a !important;
}
@media screen and (max-width: 992px) {
	.body-nav {
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
	}
	.body-nav > div > p {
		margin: 0px;
	}
	.body-nav > div {
		height: 100%;
		width: 50px;
		border-radius: 5px;
		transition: background-color ease-in-out 0.1s;
	}
	.body-nav > div:hover {
		background-color: #fa375a;
		color: white;
	}
}
@media screen and (min-width: 992px) {
	.body-nav {
		width: 100%;
		height: 300px;
	}
	.body-nav > div > p {
		margin: 0px;
	}
	.body-nav > div {
		height: 40px;
		width: 40px;
		border-radius: 5px;
		transition: background-color ease-in-out 0.1s;
		margin: 10px 0px 10px 0px;
	}
	.body-nav > div:hover {
		background-color: #fa375a;
		color: white;
	}
}
/* GRAPH ////////////////////////////////////////////////////////////////// */
.graph {
	height: 400px;
	box-sizing: border-box;
	box-shadow: 0px 0px 7px 2px rgb(190, 190, 190);
	position: relative;
}
.sorter {
	position: absolute;
	top: 5%;
	right: 5%;
}
.sorter > div > button {
	border-radius: 0px;
	height: 30px;
}
.sorter > div > button:hover {
	background-color: white;
	color: blue;
}
.ctt {
	box-shadow: 0px 0px 1px 1px rgb(206, 206, 206);
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
}
.ctt p {
	margin: 0px;
}

/* RULES COLUMN //////////////////////////////////////////////////////// */
.rules {
    width: 100%;
    box-shadow:0px 0px 7px 2px rgb(209, 209, 209);
}
.rules-heading {
	width: 100px;
	position: relative;
}
.rules-pink {
	width: 100px;
	height: 50px;
}
.rules-pink > img {
	height: 100%;
	width: 100%;
}
.rules-text {
	position: absolute;
	top: 18%;
	left: 21%;
	color: #eb3556;
}
ul
{
    list-style: none;
}
ul>li
{
    position:relative;
}
.li-dot
{
    position:absolute;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color:#fa375a;
    top:5px;
    left:-26px;
}
.left-line
{
    width:3px;
    height:121%;
    position:absolute;
    top:10px;
    background-color: #fa375a;
    left:-22.5px;
}

/* RIGHT STATS COMPONENT //////////////////////////////////////// */
.right-stats
{
    box-shadow: 0px 0px 7px 2px rgb(218, 218, 218);
}
.pie-chart-container
{
    height:500px;
}

.circle
{
    position:relative;
    height:30px;
    width:30px;
    border-radius: 50%;
}
.inner-circle
{
    position:absolute;
    height:15px;
    width:15px;
    border-radius: inherit;
    background-color:white;
    top:25%;
    left:25%;
}
.circle~div>p
{
    margin:0px;
}
.single-pie-legend
{
    position:relative;
}
.coverer
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 25%, rgba(0, 0, 0, 0) 75%);
}